[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uagents = "*"
flask = "*"
flask-cors = "*"
flask-socketio = "*"
groq = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
